*.log
.DS_Store
.env.backup
.env.production
/.env
/.env.*
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
!/public/index.php
!/public/web.config
!/public/.htaccess
/public/hot
/public/storage
/public/build/*
!/public/build
/storage/*.key
/storage/pail
/vendor
Homestead.json
Homestead.yaml
Thumbs.db
/node_modules